In [2]:
import quandl

In [3]:
import matplotlib as mlp

In [4]:
import pandas as pd

In [5]:
aapl = quandl.get("WIKI/AAPL", start_date="2018-01-01", end_date="2018-03-01")

In [6]:
type(aapl)

pandas.core.frame.DataFrame

In [7]:
aapl_numpy_array = quandl.get("WIKI/AAPL",start_date="2018-01-01", end_date="2018-01-01", returns="numpy" )

In [8]:
type(aapl_numpy_array)

numpy.recarray

In [9]:
aapl.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-01-02,170.16,172.30,169.26,172.26,25048048.0,0.0,1.0,170.16,172.30,169.26,172.26,25048048.0
2018-01-03,172.53,174.55,171.96,172.23,28819653.0,0.0,1.0,172.53,174.55,171.96,172.23,28819653.0
2018-01-04,172.54,173.47,172.08,173.03,22211345.0,0.0,1.0,172.54,173.47,172.08,173.03,22211345.0
2018-01-05,173.44,175.37,173.05,175.00,23016177.0,0.0,1.0,173.44,175.37,173.05,175.00,23016177.0
2018-01-08,174.35,175.61,173.93,174.35,20134092.0,0.0,1.0,174.35,175.61,173.93,174.35,20134092.0

In [10]:
aapl.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-02-23,173.67,175.650,173.54,175.555,33329232.0,0.0,1.0,173.67,175.650,173.54,175.555,33329232.0
2018-02-26,176.35,179.390,176.21,178.970,36886432.0,0.0,1.0,176.35,179.390,176.21,178.970,36886432.0
2018-02-27,179.10,180.480,178.16,178.390,38685165.0,0.0,1.0,179.10,180.480,178.16,178.390,38685165.0
2018-02-28,179.26,180.615,178.05,178.120,33604574.0,0.0,1.0,179.26,180.615,178.05,178.120,33604574.0
2018-03-01,178.54,179.775,172.66,175.000,48801970.0,0.0,1.0,178.54,179.775,172.66,175.000,48801970.0

In [11]:
fb = quandl.get("WIKI/FB",start_date="18-01-01", end_date="18-02-01", collapse="monthly")

In [12]:
fb.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-01-31,188.37,189.83,185.22,186.89,27299152.0,0.0,1.0,188.37,189.83,185.22,186.89,27299152.0
2018-02-28,188.22,195.32,187.89,193.09,53608910.0,0.0,1.0,188.22,195.32,187.89,193.09,53608910.0

In [13]:
fb.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-01-31,188.37,189.83,185.22,186.89,27299152.0,0.0,1.0,188.37,189.83,185.22,186.89,27299152.0
2018-02-28,188.22,195.32,187.89,193.09,53608910.0,0.0,1.0,188.22,195.32,187.89,193.09,53608910.0

    Reading in CSV time series data:

In [14]:
fb_dataframe_csv = pd.read_csv("WIKI-FB.csv")

In [15]:
fb_dataframe_csv.head()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-10-27,174.15,178.210,173.90,177.88,29867490.0,0.0,1.0,174.15,178.210,173.90,177.88,29867490.0
1,2017-10-26,171.38,172.285,170.39,170.63,10932929.0,0.0,1.0,171.38,172.285,170.39,170.63,10932929.0
2,2017-10-25,171.90,172.250,168.89,170.60,15095603.0,0.0,1.0,171.90,172.250,168.89,170.60,15095603.0
3,2017-10-24,172.30,173.240,171.50,171.80,11629341.0,0.0,1.0,172.30,173.240,171.50,171.80,11629341.0
4,2017-10-23,175.20,175.340,171.25,171.27,13622072.0,0.0,1.0,175.20,175.340,171.25,171.27,13622072.0

In [16]:
fb_dataframe_csv.index

RangeIndex(start=0, stop=1371, step=1)

In [17]:
fb_dataframe_csv["High"].max()

178.21

In [18]:
fb_dataframe_csv["Low"].min()

17.55

In [19]:
fb_dataframe_csv[["High","Low"]].mean()

High    83.694619
Low     81.929668
dtype: float64